@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #131313;
    min-height: 100vh;
    transition: 0.5s ease all;
}

header{
    background: #232323;
    color: #fff;
    transition: 0.5s ease all;
}

.white{
    background: #f3f1f1;
}

body.white header{
    background: #fff;
    color: #000;
}

button{
    position: relative;
    outline: none;
    border: none;
    width: 80px;
    height: 40px;
    background-color: #363636;
    border-radius: 40px;
    box-shadow: inset 0 2px 15px rgba(0,0,0,0.4),
                inset 0 2px 2px rgba(0,0,0,0.2),
                inset 0 -1px 1px rgba(0,0,0,0.2);
}

button .indicador{
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    height: 40px;
    width: 40px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(0,0,0,0.1); 
    transform: scale(0.9);
}

.indicador.active{
    left: unset;
    right: 0;
}

body.white button{
    background-color: #eee7e7;
    box-shadow: inset 0 2px 15px rgba(255,255,255,0.4),
                inset 0 2px 2px rgba(255,255,255,0.2),
                inset 0 -1px 1px rgba(255,255,255,0.2);
}

body.white .indicador{
    background: linear-gradient(to bottom, #e9e5e5, #bebebe);
    box-shadow: 0 2px 5px rgba(255,255,255,0.5),
                inset 0 1px 1px rgba(0,0,0,0.1);
}

.card-news{
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.new-img{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.new-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-img .hero-text{
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.5s ease all;
}

.hero-text .hero-content{
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: 0.5s ease-in;
    color: #fff;
}

.new-img:hover .hero-text{
    background: rgba(0,0,0,0.5);
}

.new-img:hover .hero-content{
    transform: translateY(0%);
}